@model Domain.ViewModels.InvoiceCustomerViewModel
@{
}
<tr class="item">
    <td class="partcode">
        <input class="form-control text-center activeproduct"  type="text" name="product" onclick="addRow(this.value, this.parent);" data-toggle="modal" data-target=".bd-example-modal-xl" required value="" />

    <td class="partName"><input class="form-control text-center" value="" /> </td>

    <td class="price inv"> <input  type="number" step="0.001" class="form-control text-center" autocomplete="off" placeholder="0.0" value="" /></td>

    <td class="price inv"> <input  type="number" step="0.001" class="form-control text-center" autocomplete="off" placeholder="0.0" value="" /></td>

    <td class="discount inv"><input  type="number" step="0.001" class="form-control text-center" autocomplete="off" placeholder="0.0" value="" /></td>

    <td class="total inv"><input  type="number" disabled step="0.001" class="form-control text-center" autocomplete="off" placeholder="0.0" value="" /></td>

    <td class="vatamount inv"><input  type="number" step="0.001" class="form-control text-center" autocomplete="off" placeholder="0.0" value="" /></td>

    <td class="totalvat inv"><input  type="number" step="0.001" class="form-control text-center" autocomplete="off" placeholder="0.0" value="" /></td>
</tr>