<table id="Productstableview" class="table table-active overflow-auto">
    <thead>
        <tr>
            <th>
                ProductId
            </th>
            <th>
                Name
            </th>
            <th>
                Model
            </th>
            <th>
                Cost
            </th>
            <th>
                Sale Price
            </th>
            <th>
                Balance
            </th>

        </tr>
    </thead>
</table>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/product.js"></script>

}