.invoicebody {
    background-color: aliceblue;
    display: inline-block
}
.topheader  {
    margin-left: 35px;
    margin-top: 54px;
}
    .topheader > div > input, .topheader > div > select {
        width: 160px;
        height: 35px;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        top: -39px;
        position: absolute;
    }
.txtsums {
    width: 65%;
    text-align:center;
}
.lbl {
    background-color: bisque;
    padding: 5px;
    border-radius: 8%;
   position:absolute;
}
.downtotals .lbl {
    width: 95px;
    text-align:center;
    position:unset !important;
}
.invoiceid {
    left: 107px;
}
.lblid {
    top: -38px;
}
.lbldatepicker {
    left: 20px;
    top: -38px;
}
.lblinvoicetype {
    left: 45px;
    top: -38px;
}
.datepicker {
    LEFT: 125PX;
}
.select {
    font-size: 15px !important;
}
.invoicetype {
    left: 150px;
}
.lblcust {
    top: 0 !important;
    top: -38px;
}
.cust {
    top: 0px !important;
    left: 107px;
    width:455px !important;
}


/*section customer*/
.searchable-dropdown {
    margin: 50px auto 0 auto;
    position: relative;
    width: 400px;
    height: 3px;
}

.caret {
    background: bisque;
    border-radius: 10px;
    font-size: 22px;
    height: 30px;
    position: absolute;
    pointer-events: none;
    right: 340px;
    text-align: center;
    top: -36px;
    width: 30px;
}

    .caret:after {
        content: "➜";
        position: absolute;
        right: 3px;
        top: 0;
        transform: rotate(90deg);
    }

.searchable-dropdown input {
    background: rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
    border-radius: 10px !important;
    font-size: 26px !important;
    margin: 0 !important;
    padding: 5px 10px !important;
    width: 100% !important;
    max-height: 36px;
    left: -326px;
   /* text-align:left !important;*/
    font-weight:100 !important;
}
.custid{
    padding-right:160px;
}
.searchable-dropdown ul {
    background-color: white;
    border-radius: 10px;
    display: none;
    max-height: 200px;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 10px;
    right: 329px;
    position: absolute;
    top: -3px;
    width: 100%;
    z-index: 1;
}

.active ul {
    display: block;
}

.searchable-dropdown ul li {
    font-size: 18px;
    padding: 10px;
}

    .searchable-dropdown ul li:hover {
        background: aquamarine;
        cursor: pointer;
    }

/*End Customer Search*/

/*invoice table*/
.invoicebody{
    display:block;
    height:300px;
    background-color:gray;
    overflow:auto;
}
.invoicetable{
    border-collapse:separate !important;
}
.invoicetable th{
    border-top:none;
}
.invoicetable td {
padding-left:0 !important;
padding-right:0 !important;
border:none !important;
padding-top:5px !important;
padding-bottom:0 !important;
}
.inv {
   /*position: absolute;*/
    top: 172px;
    width: 8.5%;
}
.partcode {
    width: 15%;
    left: 28px;
  /*position: absolute;*/
    top: 172px;
}
.partName {
    width: 25%;
    left: 207px;
    /*position: absolute;*/
    top: 172px;
}
.quantity {
    left: 502px;
}
.price {
    left: 602px;
}
.discount {
    left: 702px;
}
.total {
    left: 802px;
}
.vatamount {
    left: 902px;
}
.totalvat {
    left: 1002px;
}
/*invoice list*/
.card-header{
    padding:0 !important;
    border:0 !important;
    background-color:transparent !important;
}
.listtablecell {
    padding: 0 !important;
    border: 0 !important;
    vertical-align:middle !important;
    text-align:center;
}
.invoicedetails{
    display:inline-block;
}
.card-body{
    display:inline-block;
}
.activeproduct{
    border-color:red;
}