.invoicebody {
    background-color: aliceblue;
    display: inline-block
}
.topheader  {
    margin-left: 35px;
    margin-top: 54px;
}
    .topheader > div > input, .topheader > div > select {
        width: 160px;
        height: 35px;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        top: -39px;
        position: absolute;
    }

.invoiceid {
    left: 107px;
}

.lblid, .lbldatepicker, .lblinvoicetype,.lblcust {
    position: absolute;
    /* margin-top: 72px; */
    float: none;
    /* margin-top: 32px;*/
    top: -38px;
    background-color: bisque;
    padding: 5px;
    border-radius: 8%;
}
.lbldatepicker{
left:20px;
}
.lblinvoicetype{
    left:45px;
}
.datepicker {
    LEFT: 125PX;
}
.select {
    font-size: 15px !important;
}
.invoicetype {
    left: 150px;
}
.lblcust{
    top:0 !important;
}
.cust {
    top: 0px !important;
    left: 107px;
    width:455px !important;
}
