@model Domain.ViewModels.SalesDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceTotal" class="control-label"></label>
                <input asp-for="InvoiceTotal" class="form-control" />
                <span asp-validation-for="InvoiceTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDiscount" class="control-label"></label>
                <input asp-for="InvoiceDiscount" class="form-control" />
                <span asp-validation-for="InvoiceDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceNetTotal" class="control-label"></label>
                <input asp-for="InvoiceNetTotal" class="form-control" />
                <span asp-validation-for="InvoiceNetTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceType" class="control-label"></label>
                <input asp-for="InvoiceType" class="form-control" />
                <span asp-validation-for="InvoiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoicePaid" class="control-label"></label>
                <input asp-for="InvoicePaid" class="form-control" />
                <span asp-validation-for="InvoicePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceChange" class="control-label"></label>
                <input asp-for="InvoiceChange" class="form-control" />
                <span asp-validation-for="InvoiceChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" 
                        asp-items="@(new SelectList(Model.Products,"Id","ArabicName"))"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Customer Name</label>
                <select asp-for="Id" class="form-control" 
                        asp-items="@(new SelectList(Model.Customers,"Id","CustArName"))"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
