@model Domain.ViewModels.InvoiceCustomerViewModel
@{
    ViewData["Title"] = "Create";
}
@section styles{
    <link href="~/css/invoice.css" rel="stylesheet" />

}
<h1 class="text-primary text-center">Sales Invoice</h1>
<div class="row">
    <!-- Large modal -->


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <partial name="_product" model="Model" />
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="text-danger btn btn-outline-primary">Sales List</a>
    </div>

    <form class="col-md-12" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group topheader">
            <div class="d-md-inline-block border-danger col-md-3">
                <label class="control-label lblid">Invoice No</label>
                <input asp-for="InvoiceId" type="text" value="@ViewBag.InvoiceId" class="form-control invoiceid" readonly />
                <span asp-validation-for="InvoiceId" class="text-danger "></span>
            </div>
            <div class="d-inline-block col-md-3">
                <label class="control-label lbldatepicker">Invoice Date</label>
                <input asp-for="InvoiceDate" id="datepicker" type="text" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
                <span asp-validation-for="InvoiceDate" class="text-danger "></span>
            </div>
            <div class="d-inline-block col-md-3">
                <label class="control-label lblinvoicetype">Invoice Type</label>
                <!--<input asp-for="InvoiceType" class="form-control invoicetype select" />-->
                <select asp-for="InvoiceType" class="form-control invoicetype select">
                    <option value="0">Cash</option>
                    <option value="1">Credit</option>
                </select>
                <span asp-validation-for="InvoiceType" class="text-danger "></span>
            </div>
            <div class="searchable-dropdown js-searchable-dropdown">
                <input type="text" name="text" class="js-searchable-dropdown-input" placeholder="Customer Name" autocomplete="off">
                <span class="caret"></span>
                <ul class="js-searchable-dropdown-list">
                    @foreach (var item in Model.Customers)
                    {
                        <li class="js-searchable-dropdown-list-item" data-search-value="@item.CustArName">@item.CustArName</li>
                        /*codepen.io/plestik/pen/EvRQdy */
                    }

                    <li class="js-list-empty">Nothing found..</li>
                </ul>
            </div>
        </div>

        <div class="form-group invoicebody">
            <table class="invoicetable">
                <tr>
                    <td class="partcode">
                        <input asp-for="Details.ProductID" class="form-control text-center " onclick="generateTableRow();" type="text" data-toggle="modal" data-target=".bd-example-modal-lg" placeholder="Part Code" />
                        <span asp-validation-for="ProductId" class="text-danger "></span>
                    </td>
                    <td class="partName"><input class="form-control text-center" disabled placeholder="Part Name" /> </td>
                    <td class="quantity inv"> <input asp-for="Details.Quantity" id="Quantity" class="form-control text-center" autocomplete="off" placeholder="Quantity" /> </td>
                    <td class="price inv"> <input asp-for="Details.SalesPrice" class="form-control text-center" autocomplete="off" placeholder="Sale Price" /></td>
                    <td class="discount inv"><input asp-for="Details.discount" class="form-control text-center" autocomplete="off" placeholder="Sale Price" /></td>
                    <td class="total inv"><input asp-for="Details.Total" class="form-control text-center" autocomplete="off" placeholder="Total" /></td>
                    <td class="vatamount inv"><input asp-for="Details.VatAmount" class="form-control text-center" autocomplete="off" placeholder="Vat" /></td>
                    <td class="totalvat inv"><input asp-for="Details.TotalWithVat" class="form-control text-center" autocomplete="off" placeholder="Net Total" /></td>
                </tr>
            </table>

            </div>


        <div class="form-group ">
            <div>
                <label asp-for="InvoiceTotal" class="control-label "></label>
                <input asp-for="InvoiceTotal" class="form-control " />
                <span asp-validation-for="InvoiceTotal" class="text-danger "></span>
            </div>
            <div>
                <label asp-for="InvoiceDiscount" class="control-label "></label>
                <input asp-for="InvoiceDiscount" class="form-control " />
                <span asp-validation-for="InvoiceDiscount" class="text-danger "></span>
            </div>
            <div>
                <label asp-for="InvoiceNetTotal" class="control-label "></label>
                <input asp-for="InvoiceNetTotal" class="form-control " />
                <span asp-validation-for="InvoiceNetTotal" class="text-danger "></span>
            </div>
            <div>
                <label asp-for="InvoicePaid" class="control-label "></label>
                <input asp-for="InvoicePaid" class="form-control " />
                <span asp-validation-for="InvoicePaid" class="text-danger "></span>
            </div>
            <div>
                <label asp-for="InvoiceChange" class="control-label "></label>
                <input asp-for="InvoiceChange" class="form-control " />
                <span asp-validation-for="InvoiceChange" class="text-danger "></span>
            </div>
        </div>

        <div class="form-group ">
            <input type="submit" value="Create" class="btn btn-primary " />
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
}
