@model List<Domain.ViewModels.InvoiceListViewModel>

@{
    ViewData["Title"] = "Index";
}
@section styles{
    <link href="~/css/invoice.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
}
<h1 class="text-center text-primary">Sales Home</h1>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="deleteInvoice" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <partial name="_deleeteInvoice" model="Model"/>
        </div>
    </div>
</div>
<div>
    <a asp-action="Create" class="text-danger btn btn-outline-primary ">Create New</a>
</div>
<br />
<table id="salestable" class="table table table table-striped" style="margin-top:10px;">
    <thead class="thead-light">
        <tr>
            <th>
                No
            </th>
            <th>
                Customer
            </th>
            <th>
                Date
            </th>
            <th>
                Total
            </th>
            <th>
                Discount
            </th>
            <th>
                Net
            </th>
            <th>
                Type
            </th>
            <th>
                Paid
            </th>
            <th>
                Change
            </th>
            <th>action</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/editInvoice.js"></script>
}
